@charset "utf-8";

/* 유틸리티 */
/* 스크린리더 전용 */
.sr-only {
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* 한줄 말줄임 */
.sl-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 두줄 말줄임 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 스킵 네비게이션 */
.nav-skip a {
  position: absolute;
  top: -200px;
  left: 0;
  width: 160px;
  line-height: 30px;
  border: 1px solid #fff;
  color: #fff;
  background: #333;
  text-align: center;
}
.nav-skip a:active,
.nav-skip a:focus {
  top: 0;
}

/* body > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
} */

/* 컨테이너 스타일 */
.cont-movie {
  width: auto;
  max-width: 98rem;
  margin: 8rem auto 4rem;
  padding: 0 3rem 3rem;
  border: 1px solid #f7f6f4;
  border-radius: 0.8rem;
  background: #f7f6f4;
  position: relative;
}

.cont-movie:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 32rem;
  opacity: 0.1;
  background: transparent;
  background-image: linear-gradient(
    to bottom,
    #6a4d33 33%,
    rgba(106, 77, 51, 0) 53%
  );
  border-radius: 0.8rem 0.8rem 0 0;
  z-index: 0;
}

.cont-movie .tit-cont {
  font-size: 2.4rem;
  text-align: center;
  padding: 4rem 0 3rem;
  color: #6a4d33;
  position: relative;
  z-index: 1;
}

/* nav 스타일 */
.cont-movie .nav-movie {
  position: relative;
  z-index: 1;
}
.cont-movie .nav-movie::before {
  display: block;
  content: "";
  width: 65rem;
  max-width: 100%;
  height: 1px;
  background: #6a4d33;
  opacity: 0.2;
  margin: 0 auto;
}
.cont-movie .list-movieNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.cont-movie .list-movieNav .link-nav {
}
.cont-movie .list-movieNav .link-nav.active {
  border-bottom: 2px solid #369fff;
}
.cont-movie .list-movieNav .link-nav + .link-nav {
  margin-left: 6rem;
}
.cont-movie .list-movieNav .link-nav-title {
  color: #555;
}
.cont-movie .list-movieNav .link-nav:hover .link-nav-title {
  color: #6a4d33;
  transition: color 0.4s ease-in-out;
}
.cont-movie .list-movieNav .link-nav .link-nav-title.active {
  color: #6a4d33;
  font-weight: bold;
}

.content-container {
  display: none;
}

.content-container.target {

  display: block;
}
/* 컨텐츠 스타일 */
.cont-movie .list-movieInfo {
  overflow: hidden;
  width: 100%;
  padding: 2.4rem;
  border: 1px solid #e9e9ec;
  border-radius: 0.8rem;
  background: #fff;
  display: grid;
  row-gap: 1.6rem;
  column-gap: 1.6rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, minmax(100px, auto)); */
}
.cont-movie .list-movieInfo .tit-movie {
  font-weight: bold;
  padding: 1.2rem 1.2rem;
}
.cont-movie .list-movieInfo li {
  overflow: hidden;
  width: 100%;
  border: 1px solid #e9e9ec;
  border-radius: 0.8rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  position: relative;
}

.cont-movie .list-movieInfo li .link-teaser::before {
  display: inline-block;
  content: "";
  background-image: url("../images/btn_play.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: -2.5px;
}
.cont-movie .list-movieInfo .link-movie {
  display: block;
  position: relative;
  background-color: #f5f5f5;
  padding-bottom: 140%;
  border-radius: 0.8rem 0.8rem 0 0;
  overflow: hidden;
}

.cont-movie .list-movieInfo .link-movie > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
}

.badge {
  display: inline-block;
  font-size: 0px;
  line-height: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  z-index: 10;
}

.badge-num {
  position: absolute;
  top: 4px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
}

.list-movieInfo .list-info {
  padding: 0 1.2rem;
}

.info-time::before {
  content: "";
  margin: 0.5rem;
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 100%;
  vertical-align: top;
  background-color: #ddd;
}
.list-movieInfo .button-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  align-self: flex-end;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 0;
  text-align: center;
  border-top: 1px solid #f1f4f6;
}
.button_area a:first-child {
  border-left: 0;
}
.button-area a {
  display: table-cell;
  position: relative;
  height: 4.4rem;
  border-left: 1px solid #f1f4f6;
  font-size: 1.5rem;
  line-height: 4.3rem;
  vertical-align: top;
  white-space: nowrap;
  font-weight: normal;
  color: #444447;
  letter-spacing: -0.41px;
  text-decoration: none;
  overflow: hidden;
}

.list-movieInfo article {
  padding-bottom: 4.5rem;
}
.list-movieInfo .list-info dt,
.list-movieInfo .list-info dd {
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: top;
  line-height: 1.2;
}
.list-movieInfo .list-info dt {
  font-weight: lighter;
  color: #828282;
  white-space: nowrap;
  margin-right: 0.5rem;
}
.list-movieInfo .list-info .multi-ellipsis {
  display: inline-flex;
}
.list-movieInfo .list-info .item-star {
  float: right;
}
.list-movieInfo .list-info .item-star dt {
}
.list-movieInfo .list-info .item-star dt::after {
  display: inline-block;
  content: "";
  width: 14px;
  height: 13px;
  margin-left: 5px;
  background: url("../images/star.png");
  vertical-align: top;
}

.list-movieInfo .list-info div {
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 5px;
}

/* 푸터 스타일 */
.cont-company {
  background: #fafbfc;
  margin-top: 10rem;
}
.cont-company .cont-coInfo {
  position: relative;
  overflow: hidden;
  width: auto;
  max-width: 100%;
  padding: 0 2rem 3rem;
  margin: 0 auto;
}
.cont-company .tit-company {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
}
.cont-company .list-coInfo {
  margin: 2rem 0;
}
.cont-company .list-coInfo dt,
.cont-company .list-coInfo dd {
  display: inline-block;
}
.cont-company .list-coInfo dt {
  font-weight: 700;
  margin-right: 5px;
}
.cont-company .list-coInfo dd {
  font-weight: 400;
}
.cont-company .list-coInfo dd::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 12px;
  margin: 0 7px;
  background: #f5f5f8;
}
.cont-company .list-coInfo dd:last-child::after {
  display: none;
}

.cont-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  border-bottom: 1px solid #f5f5f8;
}
.cont-company .list-sns {
  display: flex;
  column-gap: 2rem;
}

.cont-company .list-sns a[class^="link"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 1px;
  text-indent: -9999px;
  overflow: hidden;
}
.cont-company .list-sns .link-insta {
  background: url("../images/instagram.png");
}
.cont-company .list-sns .link-facebook {
  background: url("../images/facebook.png");
}
.cont-company .list-sns .link-twitter {
  background: url("../images/twitter.png");
}

@media screen and (max-width: 786px) {
  .cont-movie {
    padding: 0 2rem 2rem;
  }
  .cont-movie .list-movieInfo {
    grid-template-columns: repeat(2, 1fr);
  }
  .cont-movie .list-movieNav .link-nav + .link-nav {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .cont-movie .list-movieInfo {
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(1, minmax(100px, auto));
  }
}
