:root {
    /* App Colors */
    --color-primary: var(--color-purple-dark);
    --color-primary-variant: var(--color-purple-light);
    --color-accent: var(--color-blue-dark);
    --color-accent-variant: var(--color-blue-light);
    --color-brand: var(--color-orange);
    --color-text: var(--color-black);
    --color-line: var(--color-gray-dark);
    --color-border: var(--color-gray-light);

    /* Colors */
    --color-white: #ffffff;
    --color-blue-dark: #22b8cf;
    --color-blue-light: #e7f5ff;
    --color-purple-dark: #7048e8;
    --color-purple-light: #e5dbff;
    --color-purple-bg: #f3f0ff;
    --color-red: #e45141;
    --color-orange: #f57e25;
    --color-black: #242424;
    --color-gray-dark: #555;
    --color-gray-light: #c5c4c7;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body,
input,
textarea,
select,
table,
button,
code {
    font-size: 1.4rem;
    line-height: normal;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
}

a {
    color: var(--color-text);
    cursor: pointer;
    text-decoration: none;
}

button {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

button:focus {
    outline: 0.1rem solid var(--color-primary);
}

select,
input,
textarea,
button {
    appearance: none;
}

/* Common */
.section {
    padding: 4rem;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

/* Header */
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 300ms ease;
}

.header-dark {
    /* /* background-color: var(--color-primary-variant); */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    /* background-color: rgba(45, 52, 54, 0.45); */
    z-index: 10;
    backdrop-filter: saturate(180%) blur(24px);
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.header_logo_img {
    width: 3.6rem;
    height: 3.6rem;
}

.header_logo_title {
    font-size: 3.2rem;
}

.header_menu {
    display: flex;
    gap: 0.4rem;
}

.header_menu_item {
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.header_menu_item:hover {
    border-bottom: 0.1rem solid var(--color-primary);
}

.header_menu_item.active {
    border: 0.1rem solid var(--color-primary);
    border-radius: 0.4rem;
}
.home {
    position: relative;
    background-color: var(--color-purple-bg);
    background-image: var(--home-bg-svg);
    color: var(--color-text);
    /* padding: 5rem 0; */
    text-align: center;
    padding: 7rem 0 4rem;
    overflow: hidden;
}
.home_container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.home_avatar {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 100%;
    border: 0.3rem solid var(--color-primary);
}

.home_title {
    font-size: 3rem;
}

.home_title-strong {
    color: var(--color-primary);
}

.home_description {
    font-size: 1.3rem;
    color: var(--color-text);
}

/* Work */
.work {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.category {
    position: relative;
    color: var(--color-text);
    font-size: 1.2rem;
    padding: 1rem 4rem;
    border-radius: 4px;
    border: 1px solid var(--color-black);
    cursor: pointer;
    white-space: nowrap;
}

.category-selected {
    background-color: var(--color-black);
    color: var(--color-white);
}

.category_count {
    opacity: 0;
    position: absolute;
    top: -2rem;
    right: 0.6rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 100%;
    background-color: var(--color-purple-bg);
    color: var(--color-text);
    transition: all 250ms ease-in;
}

.category-selected .category_count,
.category:hover .category_count {
    opacity: 1;
    top: 0.6rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    transition: all 250ms ease-out;
}

.projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(20px);
}
.project {
    position: relative;
    border-radius: 0.8rem;
    overflow: hidden;
}

.project_img {
    width: 100%;
    height: 100%;
}

.project_metadata {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}

.project_metadata:hover {
    opacity: 0.8;
    transform: translateY(0px);
}

.project_title::after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem 0;
    width: 50px;
    height: 2px;
    background-color: var(--color-primary);
}

.arrow-up {
    background-color: var(--color-white);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1), 10px 10px 30px 4px rgba(45, 78, 255, 0.15);
}

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

@media screen and (max-width: 786px) {
    .section {
        padding: 3rem 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .home {
        padding-bottom: 3rem;
    }
    .home_title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .categories {
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .arrow-up {
        bottom: 1.5rem;
        right: 1.5rem;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
    }
}
